.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 7em;
	height: 7em;
	background-image: url('../assets/doge.png');
	background-size: contain;
	z-index: 99;
	transition-duration: 0s;
	transition-timing-function: linear;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: linear;
}

.Player-wings {
	position: absolute;
	left: -2em;
	top: 1em;
	height: 4em;
	width: 4em;
	background-image: url('../assets/wing.png');
	background-size: contain;
	z-index: 100;
	transform-origin: bottom left;
	animation: 0.1s flap alternate infinite;
	-webkit-transform-origin: bottom left;
	-webkit-animation: 0.1s flap alternate infinite;
}

@keyframes flap {
	from {
		transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
	}
	to {
		transform: rotateX(0);
		-webkit-transform: rotateX(0);
	}
}

.Bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7em;
	background-image: url('../assets/land.png');
	background-repeat: repeat-x;
	z-index: 10;
	transition-duration: 0s;
	transition-timing-function: linear;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: linear;
}

.Background {
	width: 100%;
	height: 100%;
	background-image: url('../assets/kitten2.jpg');
	background-repeat: repeat-x;
	background-size: auto 100%;
	z-index: -1;
	transition-duration: 0s;
	transition-timing-function: linear;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: linear;
}

.Unicorn {
	position: absolute;
	top: 0;
	left: 0;
	width: 30em;
	height: 30em;
	background-size: contain;
	background-image: url('../assets/unicorn2.png');
	background-repeat: repeat-x;
	z-index: 0;
	transition-duration: 0s;
	transition-timing-function: linear;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: linear;
}

.Pipe-top {
	position: absolute;
	width: 7em;
	height: 50em;
	top: -30em;
	background-position: bottom; 
	background-size: contain;
	z-index: 5;
	transition-duration: 0s;
	transition-timing-function: linear;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: linear;
}

.Pipe-bot {
	position: absolute;
	width: 7em;
	height: 50em;
	bottom: -30em;
	background-size: contain;
	z-index: 5;
	transition-duration: 0s;
	transition-timing-function: linear;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: linear;
}

.Pipe-col1 {
	background-image: url('../assets/purplepop.png');
}

.Pipe-col2 {
	background-image: url('../assets/yellowpop.png');
}

.Pipe-col3 {
	background-image: url('../assets/greenpop.png');
}

.Pipe-col4 {
	background-image: url('../assets/redpop.png');
}

.Mute {
	height: 10em;
	width: 18em;
	left: 2em;
	top: 2em;
	background: none;
	z-index: 15;
	position: absolute;
	display: none;
}

.Mute-sound {
	height: 3em;
	width: 3em;
	margin-right: 1em;
	cursor: pointer;
	border: none;
	z-index: 15;
	background: url('../assets/sound.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.Mute-music {
	height: 3em;
	width: 3em;
	cursor: pointer;
	border: none;
	z-index: 15;
	background: url('../assets/music.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.Mute-muted {
	background-color: rgba(255, 0, 0, 0.75);
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 40em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background-image: url('../assets/cage2.jpg');
	background-size: contain;
	text-align: center;
	z-index: 200;
	transform: translate(0, -50em);
	transition: transform 0.5s;
	-webkit-transform: translate(0, -50em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	transform: none;
	-webkit-transform: none;
}

.Scoreboard-text {
	margin-top: -7em;
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
}