<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
	<div ng-cloak ng-show="displayprivatereply" class="col-md-12">
		<div class="input-group">
			<span class="input-group-addon"><strong>{{privateUser}}</strong>: {{privateMsg}}</span>
			<input type="text" class="form-control" placeholder="Reply to message..." ng-model="newprivatereplymsg" ng-enter="replyprivate(privateUser)">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="replyprivate(privateUser)">Reply</button>
			</span>
		</div>
	</div>
</div>
<div ng-cloak ng-show="displayprivate" class="col-md-12">
	<div class="input-group">
		<span class="input-group-addon">Private message to <strong>{{privateuser}}</strong></span>
		<input type="text" class="form-control" placeholder="Type message..." ng-model="newprivatemsg" ng-enter="sendprivate(privateuser)">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="sendprivate(privateuser)">Send</button>
		</span>
	</div>
</div>
<div ng-hide="errorMessage == 'banned'">
	<div class="col-md-9">
		<h4>Hi {{currentUser}} - Room {{currentRoom}}</h4>
		<span style="float:right;">
			<a class="btn btn-primary" href="#/rooms/{{currentUser}}/" ng-click="leaveroom()">Leave Room</a>
		</span>
		<div class="well">
			<p ng-repeat="serverMessage in serverMessages"><em>{{serverMessage}}</em></p>
			<p ng-repeat="message in chat">({{message.timestamp | date: 'H:mm:ss'}}) <b>{{message.nick}}</b>: {{message.message}}</p>
		</div>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Type message..." ng-model="newmessage" ng-enter="sendmessage()" autofocus>
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="sendmessage()">Send</button>
			</span>
		</div>
	</div>
	<div class="col-md-3">
		<h4>Users in this room</h4>
		<div class="well">	
			<ul>
				<li ng-repeat="op in currentOps">
					OP <strong ng-show="op == currentUser">{{op}}</strong>
					<a href ng-hide="op == currentUser" ng-click="showprivate(op)">{{op}}</a>
					<span ng-show="checkifop() && op != currentUser"> 
						[<a href ng-click="deopuser(op)">DeOp</a>]
					</span>
				</li>
				<li ng-repeat="user in currentUsers">
					<strong ng-show="user == currentUser">{{user}}</strong>
					<a href ng-hide="user == currentUser" ng-click="showprivate(user)">{{user}}</a>
					<span ng-show="checkifop()"> 
						[<a href ng-click="kickuser(user)">Kick</a>] 
						[<a href ng-click="banuser(user)">Ban</a>] 
						[<a href ng-click="opuser(user)">Op</a>]
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>