<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
<div ng-cloak ng-show="displayprivatereply" class="col-md-12">
	<div class="input-group">
		<span class="input-group-addon"><strong>{{privateUser}}</strong>: {{privateMsg}}</span>
		<input type="text" class="form-control" placeholder="Reply to message..." ng-model="newprivatereplymsg" ng-enter="replyprivate(privateUser)">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="replyprivate(privateUser)">Reply</button>
		</span>
	</div>
</div>
<div ng-cloak ng-show="displayprivate" class="col-md-12">
	<div class="input-group">
		<span class="input-group-addon">Private message to <strong>{{privateuser}}</strong></span>
		<input type="text" class="form-control" placeholder="Type message..." ng-model="newprivatemsg" ng-enter="sendprivate(privateuser)">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="sendprivate(privateuser)">Send</button>
		</span>
	</div>
</div>
<div class="col-md-9">
	<h4>Hi {{currentUser}} - Active chat rooms</h4>
	<div class="well">
		<ul>
			<li ng-repeat="room in rooms">
				<a href="#/room/{{currentUser}}/{{room}}">{{room}}</a>
			</li>
		</ul>
	</div>
	<h4>Create new room</h4>
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Enter room name..." ng-model="newroom" ng-enter="createnewroom()">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="createnewroom()">Create</button>
			</span>
	</div>
</div>
<div class="col-md-3">
	<h4>Users online</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in currentUsers">
				<strong ng-show="user == currentUser">{{user}}</strong>
				<a href ng-hide="user == currentUser" ng-click="showprivate(user)">{{user}}</a>
			</li>
		</ul>
	</div>
</div>