#container {
    position: relative;
}

#imageView {
    border: 1px solid #000;
}

#imageTemp {
    position: absolute;
    top: 1px;
    left: 1px;
}

#canvas {
    cursor: crosshair;
    border: 2px solid #000;
}

#textTool {
    display: hidden;
}

.field {
    width: 803px;
    border: 2px solid;
}

.lgnd {
    font-size: 150%
}

.text {
    display: hidden;
}

#size2 {
    display: hidden;
}

#help {
    background-color: #FFFF70;
    border-radius: 10px;
    display: none;
    padding: 10px;
}

#help_link {
    float: right;
}

#help_link:hover + span {
    display: block;
}

#save {
    float: right;
}