<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ evaluationtemplate.Title }} / {{ evaluationtemplate.TitleEN }}</h3>
		</div>
		<div class="panel-body">
			<h4>Basic Information</h4>
			<dl class="dl-horizontal">
				<dt>Title:</dt>
				<dd>{{ evaluationtemplate.Title }}</dd>
				<dt>Title (EN):</dt>
				<dd>{{ evaluationtemplate.TitleEN }}</dd>
				<dt>Intro:</dt>
				<dd>{{ evaluationtemplate.IntroText }}</dd>
				<dt>Intro (EN):</dt>
				<dd>{{ evaluationtemplate.IntroTextEN }}</dd>
			</dl>
			<h4>Course Questions</h4>
			<div ng-repeat="cquestion in evaluationtemplate.CourseQuestions"> 
				<dl class="dl-horizontal">
					<hr>
					<dt>Question:</dt>
					<dd>{{ cquestion.Text }}</dd>
					<dt>Question (EN):</dt>
					<dd>{{ cquestion.TextEN }}</dd>
					<dt>Question Type:</dt>
					<dd>{{ cquestion.Type }}</dd>
				</dl>
				<div ng-repeat="canswer in cquestion.Answers">
					<ul>
						<dl class="dl-horizontal">
							<dt>Answer:</dt>
							<dd>{{ canswer.Text }}</dd>
							<dt>Answer (EN):</dt>
							<dd>{{ canswer.TextEN }}</dd>
							<dt>Weight:</dt>
							<dd>{{ canswer.Weight }}</dd>
						</dl>
					</ul>
				</div>
			</div>
			<h4>Teacher Questions</h4>
			<div ng-repeat="tquestion in evaluationtemplate.TeacherQuestions"> 
				<dl class="dl-horizontal">
					<hr>
					<dt>Question:</dt>
					<dd>{{ tquestion.Text }}</dd>
					<dt>Question (EN):</dt>
					<dd>{{ tquestion.TextEN }}</dd>
					<dt>Question Type:</dt>
					<dd>{{ tquestion.Type }}</dd>
				</dl>
				<div ng-repeat="tanswer in tquestion.Answers">
					<ul>
						<dl class="dl-horizontal">
							<dt>Answer:</dt>
							<dd>{{ tanswer.Text }}</dd>
							<dt>Answer (EN):</dt>
							<dd>{{ tanswer.TextEN }}</dd>
							<dt>Weight:</dt>
							<dd>{{ tanswer.Weight }}</dd>
						</dl>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<a href="#/evaluationtemplates" class="btn btn-default btn-sm" role="button">Back</a>
</div>