<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel panel-heading">
			<h3 class="panel-title">Evaluation Templates</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="evaluationtemplate in evaluationtemplates"><a ng-href="#/evaluationtemplates/{{evaluationtemplate.ID}}">{{ evaluationtemplate.Title }}</a></li>
			</ul>
			<p ng-hide="evaluationtemplates.length">No evaluation templates registered</p>
			<a href="#/evaluationtemplates/new" class="btn btn-default" role="button">New template</a>
		</div>
	</div>
	<a href="#/my" class="btn btn-default btn-sm" role="button">Back</a>
</div>
