<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Evaluations</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="evaluation in evaluations"><a ng-href="#/evaluations/{{evaluation.ID}}">{{ evaluation.TemplateTitle }}</a></li>
			</ul>
			<p ng-hide="evaluations.length">No evaluations registered</p>
			<a href="#/evaluations/new" class="btn btn-default" role="button">New</a>
		</div>
	</div>
	<a href="#/my" class="btn btn-default btn-sm" role="button">Back</a>
</div>