<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ evaluation.TemplateTitle }} / {{ evaluation.TemplateTitleEN }}</h3>
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Template name:</dt>
				<dd>{{ evaluation.TemplateTitle }}</dd>
				<dt>Template name (EN):</dt>
				<dd>{{ evaluation.TemplateTitleEN }}</dd>
				<dt>Courses:</dt>
				<dd>{{ evaluation.Courses }}</dd>
			</dl>
		</div>
	</div>
	<a href="#/evaluations" class="btn btn-default btn-sm" role="button">Back</a>
</div>