<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Login</h3>
		</div>
		<div class="panel-body">
			<form name="loginUser" novalidate ng-submit"login(user, pass)">
				<div class="col-md-12">
					<div class="form-group">
						<label for="usr">Username:</label>
						<input type="text" name="username" class="form-control" id="usr" ng-model="user" placeholder="Enter username" autofocus ng-minlength=5 required>
					</div>
				</div>

				<!-- Validation error -->
				<div class="col-md-12">
					<div ng-show="loginUser.username.$dirty && loginUser.username.$invalid">
						<p class="alert alert-danger" ng-show="loginUser.username.$error.required">
							<strong><i>Username</i> is required</strong>
						</p>
						<p class="alert alert-warning" ng-show="loginUser.username.$error.minlength">
							<strong><i>Username</i> must be at least 5 characters long</strong>
						</p>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" id="pwd" ng-model="pass" ng-enter="login(user, pass)" placeholder="Enter password"> 
					</div>
				</div>
				<div class="col-md-12" style="text-align:center">
					<button type="button" class="btn btn-default" ng-click="login(user, pass)">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>