<div class="col-md-4">
	<p ng-show="username">Welcome, <strong>{{ username }}!</strong></p>
	<div ng-show="admin">
		<hr>
		<a href="#/evaluationtemplates" class="btn btn-default" role="button">Templates</a>
		<a href="#/evaluations" class="btn btn-default" role="button">Evaluations</a>
		<hr>
	</div>
	<div class="panel panel-default">
		<div class="panel panel-heading">
			<h3 class="panel-title">Courses</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="course in courses">{{ course.CourseID }}: {{ course.Name }}</li>
			</ul>
			<p ng-hide="courses.length">No courses registered</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel panel-heading">
			<h3 class="panel-title">Evaluations</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="evaluation in evaluations">{{ evaluation.CourseID }}: 
				<a ng-href="#/courses/{{ evaluation.CourseID }}/{{ evaluation.Semester }}/teachers">{{ evaluation.CourseName }} </a>
				[<a ng-href="#/courses/{{ evaluation.CourseID }}/{{ evaluation.Semester }}/evaluations/{{ evaluation.ID }}">Evaluate</a>]</li>
			</ul>
			<p ng-hide="evaluations.length">No evaluations registered</p>
		</div>
	</div>
	<a href="#/login" class="btn btn-default btn-sm" role="button">Back</a>
</div>