<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">New Evaluation</h3>
		</div>
		<div class="panel-body">
			<form role="form">
				<div class="col-md-12">
					<label for="template">Template</label>
					<select class="form-control" id="template" ng-model="TemplateID">
						<option ng-repeat="evaluationtemplate in evaluationtemplates" ng-value="{{ evaluationtemplate.ID }}">{{ evaluationtemplate.Title }}</option>
					</select>
				</div>
				<div class="col-md-12">
					<label for="startDate">End Date</label>
					<input type="datetime-local" class="form-control" id="startDate" ng-model="StartDate"/>
				</div>
				<div class="col-md-12">
					<label for="endDate">Start Date</label>
					<input type="datetime-local" class="form-control" id="endDate" ng-model="EndDate"/>
				</div>
				<div class="col-md-12" style="text-align:center">
					<hr>
					<button type="button" class="btn btn-default" ng-click="submitNewEval()">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<a href="#/evaluations" class="btn btn-default btn-sm" role="button">Back</a>
</div>