<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">New Evaluation Template</h3>
		</div>
		<div class="panel-body">
			<form name="newEvalTemplate" novalidate ng-submit="submitNewEvalTemplate()">
				<div class="col-md-12">
					<div class="form-group">
						<h4>Basic Information</h4>
					</div>
				</div>
				<div class="col-md-12"><hr></div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="title">Title:</label>
						<input type="text" name="title" class="form-control" id="title" ng-model="Title" autofocus required />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="titleEN">Title (EN):</label>
						<input type="text" name="titleEN" class="form-control" id="titleEN" ng-model="TitleEN" required />
					</div>
				</div>

				<!-- Validation errors -->
				<div class="col-md-12">
					<div ng-show="newEvalTemplate.title.$dirty">
						<p class="alert alert-danger" ng-show="newEvalTemplate.title.$error.required">
							<strong><i>Title</i> is required</strong>
						</p>
					</div>
				</div>
				<div class="col-md-12">
					<div ng-show="newEvalTemplate.titleEN.$dirty">
						<p class="alert alert-danger" ng-show="newEvalTemplate.titleEN.$error.required">
							<strong><i>Title (EN)</i> is required</strong>
						</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="introTxt">Intro text:</label>
						<textarea class="form-control" id="introTxt" style="resize:none;" rows="3" ng-model="IntroText"></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="introTxtEN">Intro text (EN):</label>
						<textarea class="form-control" id="introTxtEN" style="resize:none;" rows="3" ng-model="IntroTextEN"></textarea>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<p></br /></p>
						<h4>Course Questions</h4>
					</div>
				</div>
				<div class="form-group" ng-repeat="cq in cquestions">
					<div class="col-md-12"><hr></div>
					<div class="col-md-5">
						<label for="cQuestion">Question:</label>
						<textarea class="form-control" id="cQuestion" style="resize:none;" rows="3" ng-model="cq.Text"></textarea>
					</div>
					<div class="col-md-5">
						<label for="cQuestionEN">Question (EN):</label>
						<textarea class="form-control" id="cQuestionEN" style="resize:none;" rows="3" ng-model="cq.TextEN"></textarea>
					</div>
					<div class="col-md-2">
						<label for="cType">Type:</label>
						<select class="form-control" id="cType" ng-model="cq.Type">
							<option value="text">Text</option>
							<option value="single">Single answer</option>
							<option value="multi">Multiple answers</option>
						</select>
					</div>

					<div ng-repeat="ca in cq.Answers" ng-hide="cq.Type == 'text'">
						<div class="col-md-5">
							<label for="cAns">Answer:</label>
							<input type="text" class="form-control" id="cAns" ng-model="ca.Text" />
						</div>
						<div class="col-md-5">
							<label for="cAnsEN">Answer (EN):</label>
							<input type="text" class="form-control" id="cAnsEN" ng-model="ca.TextEN" />
						</div>
						<div class="col-md-2">
							<label for="cWeight">Weigth:</label>
							<select class="form-control" id="cWeight" ng-model="ca.Weight">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<p><br /></p>
							<a href="" class="btn btn-default btn-sm" role="button" ng-click="addAnswer(cq)" ng-hide="cq.Type == 'text'">Add Answer</a>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<hr>
						<a href="" class="btn btn-default btn-sm" role="button" ng-click="addQuestion('course')">Add Question</a>
						<p><br /></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<h4>Teacher Questions</h4>
					</div>
				</div>
				<div class="form-group" ng-repeat="tq in tquestions">
					<div class="col-md-12"><hr></div>
					<div class="col-md-5">
						<label for="tQuestion">Question:</label>
						<textarea class="form-control" id="tQuestion" style="resize:none;" rows="3" ng-model="tq.Text"></textarea>
					</div>
					<div class="col-md-5">
						<label for="tQuestionEN">Question (EN):</label>
						<textarea class="form-control" id="tQuestionEN" style="resize:none;" rows="3" ng-model="tq.TextEN"></textarea>
					</div>
					<div class="col-md-2">
						<label for="tType">Type:</label>
						<select class="form-control" id="tType" ng-model="tq.Type">
							<option value="text">Text</option>
							<option value="single">Single answer</option>
							<option value="multi">Multiple answers</option>
						</select>
					</div>
					<div ng-repeat="ta in tq.Answers" ng-hide="tq.Type == 'text'">
						<div class="col-md-5">
							<label for="tAns">Answer:</label>
							<input type="text" class="form-control" id="tAns" ng-model="ta.Text" />
						</div>
						<div class="col-md-5">
							<label for="tAnsEN">Answer (EN):</label>
							<input type="text" class="form-control" id="tAnsEN" ng-model="ta.TextEN" />
						</div>
						<div class="col-md-2">
							<label for="tWeight">Weigth:</label>
							<select class="form-control" id="tWeight" ng-model="ta.Weight">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<p><br /></p>
							<a href="" class="btn btn-default btn-sm" role="button" ng-click="addAnswer(tq)" ng-hide="tq.Type == 'text'">Add Answer</a>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<hr>
						<a href="" class="btn btn-default btn-sm" role="button" ng-click="addQuestion('teacher')">Add Question</a>
					</div>
				</div>
				<div class="col-md-12" style="text-align:center">
					<hr>
					<button type="button" class="btn btn-default" ng-click="submitNewEvalTemplate()">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<a href="#/evaluationtemplates" class="btn btn-default btn-sm" role="button">Back</a>
</div>