<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ course }} Evaluation</h3>
		</div>
		<div class="panel-body">
			<form name="submitForm">
				<div class="col-md-12">
					<div class="form-group">
						<p></br /></p>
						<h4>Course Questions</h4>
					</div>
				</div>
				<div class="form-group" ng-repeat="question in evaluation.CourseQuestions">
					<div class="col-md-12">
						<label for="cQuestion" evaluation-question></label>
						<div ng-switch="question.Type">
							<div ng-repeat="canswers in question.Answers">
								<p class="form-control" id="cQuestion" ng-switch-when="single">
									<input type="radio" ng-model="cquestions[question.ID]" ng-value="{ QuestionID: question.ID, Value: canswers.Weight }" /> {{ canswers.Text }} - {{ canswers.TextEN }}
								</p>
								<p class="form-control" id="cQuestion" ng-switch-when="multiple"> 
								<!-- Multiple didn't work as intended so it works like single for now -->
									<input type="radio" ng-model="cquestions[question.ID]" ng-value="{ QuestionID: question.ID, Value: canswers.Weight }" /> {{ canswers.Text }} - {{ canswers.TextEN }}
								</p>
							</div>
							<input type="text" class="form-control" id="cQuestion" ng-init="cquestions[question.ID].QuestionID = question.ID" ng-switch-when="text" ng-model="cquestions[question.ID].Value" />
						</div>
						<hr>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<p></br /></p>
						<h4>Teacher Questions</h4>
					</div>
				</div>
				<div class="form-group" ng-repeat="teacher in teachers" ng-show="evaluation.TeacherQuestions.length">
					<div class="col-md-12">
						<strong><i>{{ teacher.FullName }}</i></strong>
					</div>
					<div class="col-md-12">
						<div ng-repeat="question in evaluation.TeacherQuestions" ng-init="tquestions[question.ID][teacher.SSN].TeacherSSN = teacher.SSN">
							<label for="tQuestion" evaluation-question></label>
							<div ng-switch="question.Type">
								<div ng-repeat="tanswers in question.Answers">
									<p class="form-control" id="tQuestion" ng-switch-when="single">
										<input type="radio" ng-model="tquestions[question.ID][teacher.SSN]" ng-value="{ QuestionID: question.ID, TeacherSSN: teacher.SSN, Value: tanswers.Weight }" /> {{ canswers.Text }} - {{ canswers.TextEN }}

									</p>
									<p class="form-control" id="tQuestion" ng-switch-when="multiple">
										<input type="radio" ng-model="tquestions[question.ID][teacher.SSN]" ng-value="{ QuestionID: question.ID, TeacherSSN: teacher.SSN, Value: tanswers.Weight }" /> {{ canswers.Text }} - {{ canswers.TextEN }}
									</p>
								</div>
								<input type="text" class="form-control" id="tQuestion" ng-init="tquestions[question.ID][teacher.SSN].QuestionID = question.ID" ng-switch-when="text" ng-model="tquestions[question.ID][teacher.SSN].Value"/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12" style="text-align:center">
					<hr>
					<button type="button" class="btn btn-default" ng-click="submit()">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<a href="#/my" class="btn btn-default btn-sm" role="button">Back</a>
</div>