<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ course }}</h3>
		</div>
		<div class="panel-body">
			<h4>Teachers</h4>
			<hr>
			<div ng-repeat="teacher in teachers">
				<p>{{ teacher.FullName }} (<a href="">{{ teacher.Email }}</a>)</p>
				<img ng-src="{{ teacher.ImageURL }}" />
				<hr>
			</div>
		</div>
	</div>
	<a href="#/my" class="btn btn-default btn-sm" role="button">Back</a>
</div>